/* setup */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* mobile-first grid */

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.person {
  padding: 0.5em;
  margin-bottom: 1.5rem;
  display: inline-block;
  float: left;
  width: 100%;
}

@media (min-width: 40rem) {
  .person { width: 50%; }
}

@media (min-width: 64rem) {
  .person { float: left;  width: 33.3%; }
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* styles */

body {
  background-color: #fff;
  color: #222;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0.6em 0;
}

.hidden { display: none;}

.searchBar {
  background: #ddd;
  padding: 0.5em;
  font-family: monospace;
}

.searchBar span, .searchBar input { margin-right: 2em; }
@media (max-width: 40rem) {
  .searchBar span { display:none }
  .searchBar input { width: 90% }
  .searchBar select { margin: 0.5em 0; width: 90%}
}

.person {
  margin-bottom: 1.5rem;
  vertical-align: top;
  font-size:90%;
  height:180px;
  overflow: hidden;
  position: relative;
}
.person:hover > div { display: block; }

.person:hover { background: #eee; }
.person img { float:left; width: 100px; height: 150px; margin-right:1em;}
.person-info { font-size:80%; }
.person-buttons { display: none; position: absolute; right: 1em; bottom: 1em;}
.person input { margin-bottom: 0.5em; margin-right: 0.5em; width: 100px;}
.person textarea { width: 50%;}